<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678765329761-tnkajhav1umaotpkdvcqqvfb0i2npo8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678765329761-tnkajhav1umaotpkdvcqqvfb0i2npo8m</string>
	<key>API_KEY</key>
	<string>AIzaSyBlT26JiZA5OCmwvIkN78YkpnC9Zl3OP_A</string>
	<key>GCM_SENDER_ID</key>
	<string>678765329761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Task</string>
	<key>PROJECT_ID</key>
	<string>todo-73425</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-73425.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678765329761:ios:16cdc521282ae24e945920</string>
	<key>DATABASE_URL</key>
	<string>https://todo-73425-default-rtdb.firebaseio.com</string>
</dict>
</plist>